<h1>About AdMan</h1>
<p>AdMan is an HTML5 application for managing IPv4 and IPv6 addressing information. It is designed for larger 
	environments but is perfectly suitable for home use as well. The application is a hosted web application 
	and is free for personal use. For details on the hosted application visit: 
	<a href="http://www.run-corp.com/adman">www.run-corp.com/adman</a>.</p>
<p>This mobile application can be used as a stand-alone application or can be synchronized with a hosted AdMan 
	databse. If used in conjunction with a master database, this mobile applicatin can hold a complete copy of 
	the master database for off-line use and be synchronized with the master database as desired.</p>
<p>Application Design: David Westgate</p>
<p>Development: David Westgate</p>
<p>Testing: David Westgate</p>
<p><a href="http://www.run-corp.com">www.run-corp.com</a></p>
<p><a href="mailto:info@run-corp.com">info@run-corp.com</a></p>
