<h1>Contact</h1>
<p>Run Corporation<br>
	18 Harbour Street #1610<br>
	Toronto, ON M5J 2Z6</p>
<p>Tel: 647-478-8472<br>
	<a href="http://www.run-corp.com">www.run-corp.com</a><br>
	<a href="mailto:info@run-corp.com">info@run-corp.com</a></p>
