<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.run-corp.com">www.run-corp.com</a></li>
		</ul>
		<p>
			&copy; Copyright 2011 Run Corporation - 
		</p>
	</nav>
</footer>
