<!DOCTYPE html>
<html lang="en">
	<head>
		<title>AdMan - <%= @title %></title>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= yield %>
		<footer>
			<p>
				&copy; Copyright 2011 Run Corporation - <a href="http://www.run-corp.com">www.run-corp.com</a>
			</p>
		</footer>
	</body>
</html>